/* Error: Undefined variable.
 *    ,
 * 12 |   background-color: $color-white;
 *    |                     ^^^^^^^^^^^^
 *    '
 *   assets/sass/blocks/_header.scss 12:21  @forward
 *   assets/sass/blocks/_index.scss 1:1     @use
 *   assets/sass/main.scss 9:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 12 \2502    background-color: $color-white;\a    \2502                      ^^^^^^^^^^^^\a    \2575 \a   assets/sass/blocks/_header.scss 12:21  @forward\a   assets/sass/blocks/_index.scss 1:1     @use\a   assets/sass/main.scss 9:1              root stylesheet";
}
