// BLOCK [ BUTTON ] ###################################################################################################
// A. GLOBAL STYLES ---------------------------------------

// A.0. IMPORTS -------------------------------------------

@use '../abstracts' as var;

// A.0. IMPORTS END ---------------------------------------

// A.1. BUTTON STYLE --------------------------------------

.btn {
  position: relative;
  padding: 14px 24px;
  border-radius: 50px;
  font-weight: 700;
  text-decoration: none !important;
  transition: transform 0.3s ease;
}

.btn--small {
  position: relative;
  padding: 8px 12px;
  border-radius: 50px;
  @include var.font(12, 120%);
  text-decoration: none !important;
  font-weight: 700;
}

// Color modifiers that apply to both .btn and .btn--small
.btn,
.btn--small {
  &--red {
    background-color: var.$color-theme-red;
    color: white;
  }

  &--red-hollow {
    background-color: transparent;
    color: var.$color-theme-red;
    border: 1px solid var.$color-theme-red;
  }

  &--white-hollow {
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }

  &:after {
    opacity: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50px;
    z-index: -1;
    transition: opacity 0.3s ease;
  }

  &:before {
    opacity: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50px;
    z-index: -1;
    transition: opacity 0.3s ease;
  }

  &:hover {
    text-shadow: none !important;
    color: black !important;
    background-color: white !important;
    transform: translateY(-2px);

    &:before {
      opacity: 0.2;
      animation: pulse 1.5s infinite;
    }

    &:after {
      opacity: 0.1;
      animation: pulse 1.5s infinite 0.5s;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 0.2;
  }
}

// A.1. END -----------------------------------------------

// B. MEDIA QUERIES ---------------------------------------

// B.1. GRACEFUL DEGRADATION ---------------

// 767 DN
@include var.respond-below(sm) {
}

// B.1. END --------------------------------

// B.2. PROGRESSIVE ENHANCEMENT ------------

@include var.respond-above(sm) {
}

@include var.respond-above(md) {
}

@include var.respond-above(lg) {
}

// B.2. END --------------------------------
// B. END -------------------------------------------------

// END OF FILE ########################################################################################################
