// BLOCK [ BUTTON ] ###################################################################################################
// A. GLOBAL STYLES ---------------------------------------

// A.0. IMPORTS -------------------------------------------

@use "../abstracts" as var;

// A.0. IMPORTS END ---------------------------------------

// A.1. BUTTON STYLE --------------------------------------

.btn {
  padding: 14px 24px;
  border-radius: 50px;
  font-weight: 700;
}

.btn--small {
  padding: 8px 12px;
  border-radius: 50px;
  @include var.font(12, 120%);
  text-decoration: none;
  font-weight: 700;
}

.btn {
  &--red {
    background-color: var.$theme-red;
    color: white;
  }
  &--red-hollow {
    background-color: transparent;
    color: var.$theme-red;
    border: 1px solid var.$theme-red;
  }
  &--white-hollow {
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }
}

// A.1. END -----------------------------------------------

// B. MEDIA QUERIES ---------------------------------------

// B.1. GRACEFUL DEGRADATION ---------------

// 767 DN
@include var.respond-below(sm) {
}

// B.1. END --------------------------------

// B.2. PROGRESSIVE ENHANCEMENT ------------

@include var.respond-above(sm) {
}

@include var.respond-above(md) {
}

@include var.respond-above(lg) {
}

// B.2. END --------------------------------
// B. END -------------------------------------------------

// END OF FILE ########################################################################################################
