// BLOCK [ BUTTON ] ###################################################################################################
// A. GLOBAL STYLES ---------------------------------------

// A.0. IMPORTS -------------------------------------------

@use "../abstracts" as var;

// A.0. IMPORTS END ---------------------------------------

// A.1. BUTTON STYLE --------------------------------------

.btn {
  padding: 14px 24px;
  border-radius: 50px;
  &--red {
    background-color: var.$theme-red;
    color: white;
  }
}

// A.1. END -----------------------------------------------

// B. MEDIA QUERIES ---------------------------------------

// B.1. GRACEFUL DEGRADATION ---------------

// 767 DN
@include var.respond-below(sm) {
}

// B.1. END --------------------------------

// B.2. PROGRESSIVE ENHANCEMENT ------------

@include var.respond-above(sm) {
}

@include var.respond-above(md) {
}

@include var.respond-above(lg) {
}

// B.2. END --------------------------------
// B. END -------------------------------------------------

// END OF FILE ########################################################################################################
