// BLOCK [ CARD GRID ] ################################################################################################
// A. GLOBAL STYLES ---------------------------------------

// A.0. IMPORTS -------------------------------------------

@use "../abstracts" as var;

// A.0. IMPORTS END ---------------------------------------

.card-grid {
  // A.1. GRID STYLE --------------------------------------

  .container {
    max-width: 1180px;
  }

  .card-grid {
    &__title {
      margin: 48px auto 40px;
      text-align: center;
      max-width: 780px;
    }
    &__card {
      aspect-ratio: 4/3;
      background-position: center;
      background-size: cover;
    }
  }

  // A.1. END ---------------------------------------------

  // B. MEDIA QUERIES -------------------------------------

  // B.1. GRACEFUL DEGRADATION -------------

  // 767 DN
  @include var.respond-below(sm) {
  }

  // B.1. END ------------------------------

  // B.2. PROGRESSIVE ENHANCEMENT ----------

  @include var.respond-above(sm) {
  }

  @include var.respond-above(md) {
  }

  @include var.respond-above(lg) {
  }

  // B.2. END ------------------------------
  // B. END -----------------------------------------------
}

// END OF FILE ########################################################################################################
