// BLOCK [ CARD GRID ] ################################################################################################
// A. GLOBAL STYLES ---------------------------------------

// A.0. IMPORTS -------------------------------------------

@use "../abstracts" as var;

// A.0. IMPORTS END ---------------------------------------

.card-grid {
  // A.1. GRID STYLE --------------------------------------
  background-color: #fff;

  .container {
    max-width: 1180px;
  }

  .card-grid {
    &__title {
      margin: 48px auto 40px;
      max-width: 780px;
      font-weight: 700;
    }
  }

  .grid-card {
    border-radius: 8px;
    position: relative;
    aspect-ratio: 4/3;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 40px;
    transition: 0.3s;
    &--image {
      background-position: center;
      background-size: cover;
    }
    &__content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 24px;
      color: white;
      z-index: 2;
      text-align: center;
      transition: 0.6s;
    }
    &__text {
      line-height: 100%;
    }
    &:hover {
      .blur-overlay {
        transition: 0.6s;
        height: 50%;
      }
      .grid-card__content {
        transition: 0.6s;
        transform: translateY(-20px);
      }
    }
    &--cta {
      position: relative;
      background-color: var.$theme-red;
      .grid-card__content {
        position: relative;
        text-align: left;
        padding: 32px 40px;
      }
      .grid-card__title {
        font-weight: 600;
        margin-bottom: 16px;
      }
      .grid-card__text {
        margin-bottom: 24px;
      }
      &:hover {
        .grid-card__content {
          transform: none;
        }
      }
    }
  }

  .blur-overlay {
    position: absolute;
    bottom: 0;
    left: -1px;
    width: 101%;
    height: 36%;
    z-index: 1;
    transition: 0.6s;
    background-color: rgba(black, 0.3);
    transform: rotate(-6deg) skewX(-6deg) translateY(25px);

    @supports (backdrop-filter: blur(1px)) and
      (not (-webkit-backdrop-filter: blur(1px))) {
      & {
        backdrop-filter: blur(3px);
      }
    }

    @supports (-webkit-backdrop-filter: blur(1px)) {
      & {
        -webkit-backdrop-filter: blur(8px);
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  & {
    position: relative;
    padding-bottom: 135px;
    margin-bottom: -45px;
  }

  & + .block-spacer {
    background-color: white;
    .spacer__left {
      polygon {
        fill: #fafafa;
      }
    }
    .spacer__right {
      polygon {
        fill: #f4f4f4;
      }
    }
  }

  // A.1. END ---------------------------------------------

  // B. MEDIA QUERIES -------------------------------------

  // B.1. GRACEFUL DEGRADATION -------------

  @include var.respond-below(md) {
    .card-grid {
      &__wrapper {
        padding-left: 28px;
        padding-right: 28px;
      }
    }
  }

  @include var.respond-below(sm) {
    .card-grid {
      &__wrapper {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }

  // B.1. END ------------------------------

  // B.2. PROGRESSIVE ENHANCEMENT ----------

  @include var.respond-above(sm) {
    .grid-card {
      &__text {
        line-height: 150%;
      }
    }
  }

  @include var.respond-above(md) {
  }

  @include var.respond-above(lg) {
    padding-top: 80px;

    &__title {
      text-align: center;
    }
  }

  // B.2. END ------------------------------
  // B. END -----------------------------------------------
}

// END OF FILE ########################################################################################################
