// BLOCK [ FOOTER ] ################################################################################################
// A. GLOBAL STYLES ---------------------------------------

// A.0. IMPORTS -------------------------------------------

@use '../abstracts' as abstracts;

// A.0. IMPORTS END ---------------------------------------

.footer {
  background-color: abstracts.$color-black;
  color: abstracts.$color-white;
  padding: 60px 0 30px;

  .container {
    max-width: 1180px;
  }

  &__row--top {
    .footer__title {
      margin: 24px 0;
    }
    .footer__col {
      &:last-child {
        padding-bottom: 14px;
      }
    }
  }

  &__row {
    &--middle {
      padding-bottom: 32px;
      .footer__col {
        &:first-child {
          padding-top: 32px;
          border-top: 1px solid abstracts.$color-white-50;
        }
      }
      p {
        color: abstracts.$color-white-90;
        &:first-child {
          margin-bottom: 24px;
        }
      }
    }
  }

  &__logo {
    margin-bottom: 20px;
    img {
      max-width: 100%;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    position: relative;
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 10px;
      a {
        color: abstracts.$color-white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__link-item {
    @include abstracts.font(12, 150%);
    .theme-red {
      color: abstracts.$color-theme-red;
    }
    &--cta {
      display: flex;
      gap: 24px;
      margin-top: 48px;
      margin-bottom: 32px;
      a {
        font-family: abstracts.$font;
        flex: 1 1 50%;
        text-align: center;
      }
    }
  }

  &__social {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    a {
      color: abstracts.$color-white;
      font-size: 20px;
      &:hover {
        color: abstracts.$color-theme-red;
      }
    }
  }

  &__legal {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-right: 20px;
      margin-top: 24px;
      a {
        color: abstracts.$color-white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// A.1. END -----------------------------------------------

// B. MEDIA QUERIES ---------------------------------------

// B.1. GRACEFUL DEGRADATION -------------

@include abstracts.respond-below(md) {
  .footer {
    padding: 40px 0 20px;
    .row {
      padding-left: 28px;
      padding-right: 28px;
    }

    &__row--top {
      .footer__col {
        &:not(:first-child) {
          border-top: 1px solid abstracts.$color-white-50;
        }
        &:last-child {
          border-bottom: 1px solid abstracts.$color-white-50;
        }
      }
    }

    &__title {
      cursor: pointer;
      transition: color 0.3s ease;
      &:after {
        content: '\f107';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 20px;
        transition: transform 0.3s ease;
      }
      &.active:after {
        transform: rotate(180deg);
      }
    }

    &__links {
      transition: all 0.3s ease;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      &.active {
        max-height: 500px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@include abstracts.respond-below(sm) {
  .row {
    padding-left: 12px;
    padding-right: 12px;
  }
}

// B.1. END --------------------------------

// B.2. PROGRESSIVE ENHANCEMENT ------------

@include abstracts.respond-above(md) {
  .footer {
    &__link-item {
      &--cta {
        a {
          margin-right: 24px;
        }
      }
    }
    &__row {
      &--top {
        flex-wrap: nowrap !important;
        .col-lg {
          flex: 1 1 20%;
        }
      }
      &--middle {
        padding-bottom: 0;
        padding-top: 32px;
        margin-top: 32px;
        border-top: 1px solid abstracts.$color-white-50;
        .footer__col {
          &:first-child {
            padding-top: 0;
            border: none;
          }
        }
        p {
          &:first-child {
            margin-bottom: 0;
          }
        }
      }
      &--bottom {
        margin-bottom: 50px;
        .footer__legal-item {
          display: inline-block;
        }
      }
    }
    &__legal {
      justify-content: flex-start;
    }
    &__links {
      max-height: none;
      opacity: 1;
      visibility: visible;
      overflow: visible;
      display: block;
    }
  }
}

@include abstracts.respond-above(lg) {
}

// B.2. END --------------------------------
// B. END -------------------------------------------------

// END OF FILE ########################################################################################################
