@use "../abstracts/variables" as vars;

// Header block
.header {
  background-color: vars.$color-white;
  padding: vars.$gutter;
  border-bottom: 1px solid vars.$color-border;

  &__branding {
    text-align: center;
    margin-bottom: vars.$gutter;
  }

  &__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;

    &-link {
      color: vars.$color-secondary;
      text-decoration: none;

      &:hover {
        color: vars.$color-primary;
      }
    }
  }

  &__description {
    margin: 5px 0 0;
    font-size: 1rem;
    color: vars.$color-text-light;
  }
}
