// BLOCK [ HERO BANNER ] ##############################################################################################
// A. GLOBAL STYLES ---------------------------------------
// A.0. IMPORTS -------------------------------------------

@use "../abstracts";

// A.0. IMPORTS END ---------------------------------------

// A.1. BANNER STYLE --------------------------------------

.hero-banner {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  overflow: hidden;
  background-color: #221f20;

  &__swiper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  &__path {
    transform-origin: center;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    min-height: 65vh;
    margin-bottom: -2em;
  }

  &__img {
    width: auto;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-position: top center;
  }

  &__content {
    position: relative;
    z-index: 3;
    color: #fff;
    padding: 70px 24px 24px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 5;

    .swiper-slide-active & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 800;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease 0.2s, transform 0.5s ease 0.2s;

    .swiper-slide-active & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease 0.4s, transform 0.5s ease 0.4s;

    .swiper-slide-active & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .btn {
    margin-top: 24px;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    &.hero-banner {
      &__svg {
        &--left {
          top: 0;
          &.svg__mobile {
            top: -1px;
            left: 0;
            height: 10%;
          }

          &.svg__desk {
            display: none;
          }
        }
        &--skew {
          top: 0;
          &.svg__mobile {
            top: 0;
            left: 0;
          }

          &.svg__desk {
            display: none;
          }
        }
        &--side {
          left: 0;
          top: 0;
          max-width: 680px;
        }
      }
    }
  }
  &__bottom {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 40px;
    .hero-banner {
      &__svg {
        position: absolute;
        &--one {
          bottom: 0;
          z-index: 2;
          left: 0;
          width: 50%;
          height: 100%;
        }
        &--two {
          bottom: 0;
          z-index: 2;
          right: 0;
          width: 50%;
          height: 100%;
        }
        &--three {
          bottom: 0;
          z-index: 2;
          left: 0;
          height: 50%;
          width: 100%;
        }
      }
    }
  }
}

.hero-banner__pagination {
  .swiper-pagination {
    .swiper-pagination-clickable {
      .swiper-pagination-bullets {
        .swiper-pagination-horizontal {
          bottom: -5px !important;
          .swiper-pagination-bullet {
            bottom: -5px;
          }
        }
      }
    }
  }
}

.hero-banner__nav {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  z-index: 5;
  &.hero-banner__nav--prev {
    &.swiper-button-prev {
      left: 40px;
      background-image: url("../images/elements/swiper--left.svg");
      &:hover {
        background-image: url("../images/elements/swiper--left-active.svg");
      }
      &:after {
        display: none;
      }
    }
  }
  &.hero-banner__nav--next {
    &.swiper-button-next {
      right: 40px;
      background-image: url("../images/elements/swiper--right.svg");
      &:hover {
        background-image: url("../images/elements/swiper--right-active.svg");
      }
      &:after {
        display: none;
      }
    }
  }
}

.swiper-pagination-bullet {
  &.swiper-pagination-bullet-active {
    background-color: #221f20;
  }
}

// A.1. END -----------------------------------------------

// B. MEDIA QUERIES ---------------------------------------

// B.1. GRACEFUL DEGRADATION ---------------

// 767 DN
@include abstracts.respond-below(md) {
  .hero-banner {
    &__image {
      img {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@include abstracts.respond-below(sm) {
}

// B.1. END --------------------------------

// B.2. PROGRESSIVE ENHANCEMENT ------------

@include abstracts.respond-above(xs) {
  .hero-banner {
    &__image {
      min-height: 75vh;
    }
  }
}

@include abstracts.respond-above(sm) {
  .hero-banner {
    svg {
      &.hero-banner {
        &__svg {
          &--left {
            top: 0;
            &.svg__mobile {
              height: 8%;
              top: -2px;
            }
          }
        }
      }
    }
    &__image {
      min-height: 100vh;
    }
    &__bottom {
      height: 70px;
    }
  }
}

@include abstracts.respond-above(md) {
  .hero-banner {
    .swiper-slide {
      min-height: 80vh;
    }
    &__image {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      min-height: 80vh;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__content {
      position: relative;
      height: 80vh;
      width: 100%;
      max-width: 43%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 0 0 120px;
      z-index: 5;

      .swiper-slide-active & {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &__title {
      margin-bottom: 32px;
      font-weight: 700;
    }

    &__text {
      font-weight: 500;
    }

    svg {
      &.hero-banner {
        &__svg {
          &--left {
            top: 0;
            &.svg__mobile {
              display: none;
            }

            &.svg__desk {
              z-index: 1;
              display: block;
              width: 51%;
              right: 49%;
              height: 100%;
            }
          }
        }
        &__svg--skew {
          &.svg__mobile {
            display: none;
          }

          &.svg__desk {
            display: block;
            width: 100%;
            z-index: 3;
            max-width: 75%;
          }
        }
      }
    }

    .hero-banner {
      &__image {
        width: 60%;
      }
    }

    &__bottom {
      height: 70px;
    }
  }
}

@include abstracts.respond-above(lg) {
  .hero-banner {
    &__content {
      max-width: 525px;
    }
    &__bottom {
      height: 90px;
    }
  }
}
@include abstracts.respond-above(xl) {
  .hero-banner {
    &__content {
      max-width: 575px;
    }
  }
}

// B.2. END --------------------------------
// B. END -------------------------------------------------

// END OF FILE ########################################################################################################
