// BLOCK [ TWO COLUMN ] ################################################################################################
// A. GLOBAL STYLES ---------------------------------------

// A.0. IMPORTS -------------------------------------------

@use '../abstracts' as abstracts;

// A.0. IMPORTS END ---------------------------------------

.two-column {
  // A.1. GRID STYLE --------------------------------------
  background-color: #fafafa;
  padding-top: 80px;
  padding-bottom: 135px;

  .container {
    max-width: 1180px;
  }

  &__wrapper {
    position: relative;
  }

  &__image {
    position: relative;
    img {
      max-width: 100%;
      height: auto;
      border-radius: 15px;
      position: relative;
      z-index: 1;
      overflow: hidden;
    }
  }

  &__figure {
    position: relative;
    background-image: none;
  }

  .two-column__skew--desk {
    position: absolute;
    background-color: abstracts.$color-theme-red;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transform: rotate(-5deg);
  }

  &__title {
    font-weight: 700;
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    &--first {
      width: 100%;
      display: block;
      aspect-ratio: 5/1;
      max-width: 183px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &--second {
      font-family: abstracts.$font;
      display: block;
    }
  }

  &__copy {
    p {
      @include abstracts.font(16, 150%);
      font-weight: 500;
      &:first-child {
        @include abstracts.font(20, 150%);
        margin-bottom: 16px;
      }
    }
    .btn {
      display: block;
      margin-top: 40px;
    }
  }

  & {
    position: relative;
    padding-bottom: 135px;
    margin-bottom: -45px;
  }

  & + .block-spacer {
    transform: rotate(180deg);
    background-color: white;
    .spacer__right {
      z-index: 1;
      polygon {
        fill: #f4f4f4;
      }
    }
    .spacer__left {
      z-index: 2;
      polygon {
        fill: #fafafa;
      }
    }
  }

  // A.1. END ---------------------------------------------

  // B. MEDIA QUERIES -------------------------------------

  // B.1. GRACEFUL DEGRADATION -------------

  @include abstracts.respond-below(md) {
    .row {
      padding-left: 28px;
      padding-right: 28px;
    }

    &__figure {
      position: relative;
      overflow: hidden;
      border-radius: 15px;
    }

    &__image {
      margin-top: 60px;
    }
  }

  @include abstracts.respond-below(sm) {
    .row {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  // B.1. END ------------------------------

  // B.2. PROGRESSIVE ENHANCEMENT ----------

  @include abstracts.respond-above(sm) {
    &__copy {
      .btn {
        display: inline-block;
      }
    }
  }

  @include abstracts.respond-above(md) {
    padding-top: 70px;
    &__wrapper {
      display: flex;
      justify-content: end;
    }
    &__image {
      order: 1;
      .two-column__skew--desk,
      .two-column__figure {
        width: 100%;
        aspect-ratio: 1/1;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        max-width: 500px;
        margin: 0 0 0 auto;
        border-radius: 15px;
        * {
          display: none;
        }
      }
      .two-column__skew--desk {
        position: absolute;
        left: auto;
        background-color: abstracts.$color-theme-red;
        transform: rotate(-5deg);
      }
    }
    &__body {
      order: 2;
    }
  }

  @include abstracts.respond-above(lg) {
    padding-top: 90px;
    &__title {
      &--first {
        max-width: 400px;
      }
    }
  }

  // B.2. END ------------------------------
  // B. END -----------------------------------------------
}

// END OF FILE ########################################################################################################
