// BLOCK [ CARD GRID ] ################################################################################################
// A. GLOBAL STYLES ---------------------------------------

// A.0. IMPORTS -------------------------------------------

@use "../abstracts" as var;

// A.0. IMPORTS END ---------------------------------------

.two-column {
  // A.1. GRID STYLE --------------------------------------

  background-color: #fafafa;
  padding-bottom: 135px;

  .container {
    max-width: 1180px;
  }

  &__image {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 15px;
      position: relative;
      z-index: 1;
      overflow: hidden;
    }
  }

  &__figure {
    position: relative;
    background-image: none;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var.$theme-red;
      transform: rotate(-4deg);
      border-radius: 15px;
      z-index: 0;
    }
  }

  &__title {
    font-weight: 700;
    margin-bottom: 24px;
    &--first {
      // font-family: var.$kids;
      display: block;
    }
    &--second {
      font-family: var.$font;
      display: block;
    }
  }

  &__copy {
    p {
      @include var.font(16, 150%);
      font-weight: 500;
      &:first-child {
        @include var.font(20, 150%);
        margin-bottom: 16px;
      }
    }
    .btn {
      display: block;
      margin-top: 40px;
    }
  }

  & {
    position: relative;
    padding-bottom: 135px;
    margin-bottom: -45px;
  }

  & + .block-spacer {
    background-color: #fafafa;
    .spacer__left {
      polygon {
        fill: #fafafa;
      }
    }
    .spacer__right {
      polygon {
        fill: #f4f4f4;
      }
    }
  }

  // A.1. END ---------------------------------------------

  // B. MEDIA QUERIES -------------------------------------

  // B.1. GRACEFUL DEGRADATION -------------

  @include var.respond-below(md) {
    .row {
      padding-left: 28px;
      padding-right: 28px;
    }

    &__image {
      margin-top: 60px;
    }
  }

  @include var.respond-below(sm) {
    .row {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  // B.1. END ------------------------------

  // B.2. PROGRESSIVE ENHANCEMENT ----------

  @include var.respond-above(sm) {
    &__copy {
      .btn {
        display: inline-block;
      }
    }
  }

  @include var.respond-above(md) {
    &__image {
      order: 1;
      .two-column__figure {
        aspect-ratio: 1/1;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        max-width: 500px;
        margin: 0 0 0 auto;
        border-radius: 15px;
        * {
          display: none;
        }
      }
    }
    &__body {
      order: 2;
    }
  }

  @include var.respond-above(lg) {
  }

  // B.2. END ------------------------------
  // B. END -----------------------------------------------
}

// END OF FILE ########################################################################################################
