@use "../abstracts/variables" as vars;

// Box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Reset margins
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

// Body setup
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: vars.$line-height-base;
  font-family: vars.$font-family-base;
  color: vars.$color-text;
  background-color: vars.$color-background;
}

// Lists
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

// Images
img {
  max-width: 100%;
  display: block;
}

// Inherit fonts for form elements
input,
button,
textarea,
select {
  font: inherit;
}
